<meta name="description" content="Joshua Gonzalez is a full-stack web developer living in San Antonio, Texas.">
<div class="overflow_wrapper">
  <div class="wrapper wrapper_padding  clearfix">
    <div class="col-1 about homepage_content">
      <h2 class="phone_title">About</h2>
      <hr class="phone_disabled">
      <p>I'm a full-stack web developer living in San Antonio, Texas.</p>
      <p>In my usual day, I get breakfast and work on a few on my solo projects finishing my day off with experimenting with different tools and technologies.</p>
      <p>Fluent in React/Redux, Ruby/Rails, HTML, CSS/LESS/SCSS, Modern JS, SQL/SQLite. Love to design great looking projects.</p>
      <p>You can find me on <a href="https://github.com/CatsAreMLG" target="_blank" rel="noopener noreferrer">My Github</a> or on <a href="https://www.linkedin.com/in/joshuadgon/" target="_blank" rel="noopener noreferrer">LinkedIn</a>.</p>
    </div>
    <div class="col-2 homepage_content">
      <h2 class="phone_title">Stuff I've Written</h2>
      <hr class="phone_disabled">
      <% @posts.each do |post| %>
        <h3><%= link_to post.title, post %></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>
    <div class="col-3 homepage_content">
      <h2 class="phone_title">Stuff I've Built</h2>
      <hr class="phone_disabled">
      <% @projects.each do |project| %>
        <h3><%= link_to project.title, project %></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>
  </div>
</div>
