.col-1, .col-2, .col-3 {
  float: left;
  @media #{$phone} {
    width: 100% !important;
    padding: 0 !important;
    text-align: center !important;
  }
}

.col-1 {
  animation: $time-full / 1.5 ease-in-out $time-full * 0 1 slideInFromLeft;
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  animation: $time-full / 1.5 ease-in-out $time-full * 0 1 slideInFromRight;
  width: 27.5%;
  padding: 0 2.5%;
}

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
    @media #{$phone} {
      margin-top: 0;
      margin-bottom: 1.66em;
    }
  }
  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .5em;
  }

  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }
  .date {
    font-size: .85em;
    margin-bottom: 2em;
    color: $light;
  }
  p {
    margin: 0 0 .75em 0;
  }
  p {
    @media #{$phone} {
      width: 90%;
      margin: 0 auto .75em auto;
      &:last-of-type {
        margin-bottom: 1.5em;
      }
    }
  }
}
.about {
  padding: 0 7.5% 0 0;
  a {
    color: $highlight;
    font-weight: 700;
    text-decoration: none;
  }
}
