@import 'normalize';
$phone: "only screen and (max-width : 560px)";
$iphone_678: "only screen and (max-width : 414px)";
$iphone_x: "only screen and (max-width : 375px)";
$gs5_phone: "only screen and (max-width : 360px)";
$small_phone: "only screen and (max-width : 350px)";
$iphone_se: "only screen and (max-width : 320px)";
$dark: #424652;
$white: #fffcf9;
$light: #9a9da4;
$highlight: #bea0de;
$complimentary_1: #70aeff;
$complimentary_2: #9ED3BC;
$red: #e67076;
$border: #e9e9e9;
$size-full: 100%;
$time-full: 1s;
$size-base: 1em;

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@keyframes slideInFromTop {
  0% {
    @include transform(translateY(-110%));
  }

  100% {
    @include transform(translateY(0));
  }
}

@keyframes slideInFromLeft {
  0% {
    @include transform(translateX(-200%));
  }

  100% {
    @include transform(translateX(0));
  }
}

@keyframes slideInFromRight {
  0% {
    @include transform(translateX(300%));
  }

  100% {
    @include transform(translateX(0));
  }
}

* {
  box-sizing: border-box;
  transition: all ease-in-out $time-full / 5;
}

body {
  font-family: raleway, sans-serif;
  background: $white;
}

// Scrollbar
::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $light;
}

::-webkit-scrollbar-thumb:active {
  background: $dark;
}

.overflow_wrapper {
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;

  @media #{$phone} {
    width: $size-full;
  }
}

.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0;

  @media #{$phone} {
    padding-top: 0;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.notice,
.alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid $border;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  color: $dark;
}

h1,
h2,
h4,
h5,
h6 {
  text-shadow: -0.09em 0 rgba(red, 0.5), 0.09em 0 rgba(cyan, 0.5);
  letter-spacing: 1px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p,
li {
  font-size: 1.1rem;
  line-height: 1.75;
}

p,
ul,
ol {
  margin: 0 0 1.6em 0;
}

hr {
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 2em auto 2em 0;
}

a {
  text-decoration: none;
}

::selection {
  color: $white;
  background: $complimentary_2;
}

#main_navigation {
  animation: $time-full / 1.5 ease-in-out $time-full * 0 1 slideInFromTop;
  padding: 2.5em 5%;
  border-bottom: 1px solid $border;

  @media #{$phone} {
    padding: 2.5em 0 0 0;
    border: none;
  }

  .name {
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid $border;
    // text-shadow: -0.09em 0 red, 0.09em 0 cyan;
    padding: 1rem;
    text-decoration: none;
    color: $dark;
    float: left;
    transition: all ease-in-out $time-full / 4;

    &:hover {
      border: 2px solid $highlight;
    }

    @media #{$phone} {
      margin: 0 33.333%;
      letter-spacing: 2px;
      text-align: center;
    }

    @media #{$iphone_678} {
      margin: 0 27%;
    }

    @media #{$iphone_x} {
      margin: 0 24.5%;
    }

    @media #{$gs5_phone} {
      margin: 0 23.5%;
    }

    @media #{$small_phone} {
      margin: 0 23%;
    }

    @media #{$small_phone} {
      margin: 0 20.5%;
    }
  }

  nav {
    float: right;
    padding-top: .95rem;

    a {
      color: $dark;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1rem;

      &:hover {
        color: $highlight;
      }

      @media #{$phone} {
        float: left;
        width: $size-full;
        margin: 0 auto;
        text-align: center;
        padding: 1em;
        border-bottom: 1px solid $border;

        &:first-of-type {
          border-top: 1px solid $border;
        }
      }
    }

    @media #{$phone} {
      float: left;
      width: $size-full;
      padding-top: 2.5rem;
    }
  }
}

.phone_disabled {
  @media #{$phone} {
    display: none;
  }
}

.col-1 .phone_title {
  @media #{$phone} {
    border-top: 0 !important;
  }
}

.phone_title {
  @media #{$phone} {
    text-align: center !important;
    border-bottom: 1px solid $border !important;
    border-top: 1px solid $border !important;
    padding: 3em 0 !important;
    font-size: 1rem !important;
    text-transform: uppercase !important;
  }
}

#page_title {
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 3em 0;
  font-size: 1rem;
  text-transform: uppercase;
}

#main_footer {
  animation: $time-full / 1.5 ease-out $time-full * 0 1 slideInFromBottom;
  height: 100px;
  padding: 2.5em 5%;
  border-top: 1px solid $border;

  .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }

  nav {
    float: right;
    margin-top: 2.5px;

    i {
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;

      &:hover {
        color: $highlight;
      }
    }
  }
}

#admin_links {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  text-align: center;
  padding: 2em 0;
  margin: 3em 0;

  a {
    color: $light;
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .edit {
    &:hover {
      color: $highlight;
      border: 2px solid $highlight;
    }
  }

  .delete {
    &:hover {
      color: $red;
      border: 2px solid $red;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: $size-full;
  max-width: $size-full;
  height: 3em;
  border: 2px solid $border;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 20em;
  resize: vertical;
}

.button {
  outline: none;
  background: transparent;
  border: 2px solid $border;
  text-align: center;
  font-size: 1em;
  color: $dark;
  text-decoration: none;
  padding: 1em 2em;

  &:hover {
    border: 2px solid $highlight;
    color: $highlight;
  }
}

input[type="submit"] {
  outline: none;
  background: transparent;
  border: none;
  text-align: center;
  font-size: 1em;
  color: $highlight;
  text-decoration: none;
  padding: 0;
}

.color_button {
  background: $highlight;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
}

.button_wrapper {
  margin: 4em 0 4em 0;
  text-align: center;
}

.input_wrapper {
  margin: 0;
  text-align: center;
}

.c2 {
  position: relative;
  padding: $size-base;
  border-color: $highlight;
  color: $highlight;
  cursor: pointer;
  border-style: solid;
  transition: $time-full / 4 ease;
  overflow: hidden;
  background-color: transparent;

  a {
    color: $highlight;
    transition: $time-full / 4 ease;
  }

  input[type="submit"] {
    color: $highlight;
    transition: $time-full / 4 ease;
  }

  &:hover {
    color: $white;

    a {
      color: $white;
    }

    input[type="submit"] {
      color: $white;
      cursor: pointer;
    }
  }

  &:after {
    transition: $time-full / 4 ease;
    width: $size-full * 1.5;
    height: $size-full * 4;
    border-radius: $size-full;
    background-color: $highlight;
    z-index: -1;
    content: "";
    position: absolute;
    @include transform(translate(-$size-full / 2));
    top: $size-full;
    left: $size-full * 1.25;
  }

  &:hover:after {
    top: -$size-full;
    left: $size-full / 2;
  }
}

@import "welcome";
@import "post_project";
@import "contacts"