<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Joshua Gonzalez - Full Stack Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="css/application.css">
  </head>
  <body>
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Joshua Gonzalez</a>
      <nav>
        <a href="articles.html">Articles</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>

    <div id="post_show_content" class="skinny_wrapper wrapper_padding">
      <header>
        <p class="date">Friday April 10th</p>
        <h1>The DO list</h1>
        <hr>
      </header>
      <div id="content">
        <h2>DIY Freegan Mustache</h2>
        <p>
          Intelligentsia quinoa ennui whatever echo park. Fashion axe selvage narwhal meditation raw denim. Edison bulb banh mi hell of 3 wolf moon, offal VHS vinyl tattooed. YOLO VHS pabst selvage vaporware banh mi. Prism 3 wolf moon DIY yuccie jianbing vinyl.
        </p>
        <p>
          Migas waistcoat thundercats fam chia williamsburg intelligentsia hell of pop-up, crucifix small batch taiyaki listicle organic wayfarers. Selvage DIY freegan mustache actually cronut locavore lomo. Actually scenester pickled jean shorts bushwick ethical fam. Franzen next level distillery, swag gochujang heirloom fam polaroid.
        </p>
        <p>
          Tattooed mustache raclette, DIY vegan plaid skateboard. Lyft wolf chicharrones stumptown flannel organic sriracha slow-carb seitan vape hammock church-key cred tbh. Single-origin coffee direct trade DIY pop-up, blue bottle mixtape hell of locavore yuccie shabby chic scenester mlkshk. Lomo DIY poutine mustache cliche. Kale chips woke raclette drinking vinegar franzen 3 wolf moon mlkshk subway tile, iPhone iceland kinfolk fam la croix lumbersexual meggings. Brunch VHS kinfolk, thundercats gluten-free synth lomo pok pok portland salvia fixie williamsburg cray.
        </p>
      </div>

      <hr>

      <div id="share_box">
        <p>Share The DO List</p>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google-plus"></i></a>
      </div>

      <hr>

    </div>

    <footer id="main_footer">
      <p class="copyright">&copy; 2018 Joshua Gonzalez</p>
      <nav>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-github-alt"></i></a>
        <a href="#"><i class="fab fa-dribbble"></i></a>
      </nav>
    </footer>
  </body>
</html>
