<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Joshua Gonzalez - Full Stack Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="css/application.css">
  </head>
  <body>
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Joshua Gonzalez</a>
      <nav>
        <a href="articles.html">Articles</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>

    <h1 id="page_title">Stuff I've Written</h1>

    <div id="post_wrapper" class="skinny_wrapper">
      <div class="post">
        <p class="date">Friday April 10th</p>
        <h2><a href="">The Do List</a></h2>
        <hr>
      </div>
      <div class="post">
        <p class="date">Friday April 10th</p>
        <h2><a href="">The Do List</a></h2>
        <hr>
      </div>
      <div class="post">
        <p class="date">Friday April 10th</p>
        <h2><a href="">The Do List</a></h2>
        <hr>
      </div>
    </div>
    <div class="pagination">
      <span class="previous_page disabled">&lt; Previous</span>
      <em class="current">1</em>
      <a rel="next" href="#">2</a>
      <a class="next_page" href="#">Next &gt;</a>
    </div>

    <footer id="main_footer">
      <p class="copyright">&copy; 2018 Joshua Gonzalez</p>
      <nav>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-github-alt"></i></a>
        <a href="#"><i class="fab fa-dribbble"></i></a>
      </nav>
    </footer>
  </body>
</html>
