<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Joshua Gonzalez - Full Stack Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <link rel="stylesheet" href="css/application.css">
  </head>
  <body>
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Joshua Gonzalez</a>
      <nav>
        <a href="articles.html">Articles</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>
    <div class="wrapper wrapper_padding  clearfix">
      <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>I'm a full-stack web developer living in San Antonio, Texas.</p>
        <p>In my usual day, I get breakfast and work on a few on my solo projects finishing my day off with experimenting with different application of my knowledge.</p>
        <p>You can find me on <a href="https://github.com/CatsAreMLG">My Github</a>.</p>
      </div>
      <div class="col-2 homepage_content">
        <h2>Stuff I've Written</h2>
        <hr>
        <h3><a href="#">The DO list</a></h3>
        <p class="date">Friday April 10th</p>
        <h3><a href="#">How do I learn "X"?</a></h3>
        <p class="date">Friday April 10th</p>
        <h3><a href="#">Strive for the uncomfortable</a></h3>
        <p class="date">Friday April 10th</p>
      </div>
      <div class="col-3 homepage_content">
        <h2>Stuff I've Built</h2>
        <hr>
        <h3><a href="#">Blog</a></h3>
        <p class="date">Friday April 10th</p>
        <h3><a href="#">The Bois</a></h3>
        <p class="date">Friday April 10th</p>
        <h3><a href="#">Venthub</a></h3>
        <p class="date">Friday April 10th</p>
      </div>
    </div>
    <footer id="main_footer">
      <p class="copyright">&copy; 2018 Joshua Gonzalez</p>
      <nav>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-github-alt"></i></a>
        <a href="#"><i class="fab fa-dribbble"></i></a>
      </nav>
    </footer>
  </body>
</html>
